/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07.01.2021, 18:48:45
    Author     : manfred
*/

/* ----------------- Picture gallery  -------------------- */
#gallery-container{
    width: 90%;
    max-width: 400px;
    margin: 1% auto;
    background-color: rgba(253, 245, 230, 0.3);
    position: relative;
}

.slides{
    display: none;
}

.slides h3{
    text-align: center;
    padding-top: 2%;
}

.imggallery{
    display: block;
    width: 75%;
    margin: 1% auto;
}

.txtgallery{
    display: block;
    vertical-align: top;
    width: 75%;
    margin: 1% auto;
    font-size: 1em;
}

#forward{ 
    position: absolute;
    width: 12%;
    height: 80%;
    bottom: 10%;
    right: 0;
    
}
#backward{
    position: absolute;
    width: 12%;
    height: 80%;
    bottom: 10%;
    left: 0;
}

#smallpics{
    display: none;
}



@media screen and (min-width: 576px){
    
/* ----------------- Picture gallery  -------------------- */
    
#gallery-container{
    width: 96%;
    max-width: 800px;
    margin: 1% auto;
    position: relative;
}    
    
.imggallery{
    display: inline-block;
    width: 40%;
    padding-left: 9%;
    vertical-align: middle;
}

.txtgallery{
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    margin-left: 1%;
    padding: 0 9% 0 0;
}

#forward{ 
    position: absolute;
    width: 8%;
    height: 80%;
    bottom: 2%;
    right: 0;
    
}
#backward{
    position: absolute;
    width: 8%;
    height: 80%;
    bottom: 2%;
    left: 0;
}

#smallpics{
    display: block;
    width: 80%;
    height: 9vh;
    min-height: 70px;
    border-style: solid;
    border-color: #000000;
    background-color: rgba(253, 245, 230, 0.3);
    margin: 0 auto;
}
}

.smal{
    display: inline-block;
    height: 80%;
    width: auto;
    opacity: 0.5;
    margin: auto;
    padding-left: 3%;
    padding-top: 1%;
}



@media screen and (min-width: 1200px){
    
/* ----------------- Picture gallery  -------------------- */
   
#gallery-container{
    width: 90%;
    max-width: 800px;
    margin: 1% 1% 1% 10%;
    position: relative;
}    
    
#smallpics{
    width: 70%;
    height: 9vh;
    min-height: 70px;
    margin: 1% 1% 1% 12%;
}

.smal{
    display: inline-block;
    height: 90%;
    width: auto;
    opacity: 0.5;
    margin: auto;
    padding-left: 3%;
    padding-top: 1%;
}
}
