/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2021, 20:33:58
    Author     : mgrau
*/

/*CSS to style the Joy off the Coast pages*/


#offisland{
    position: relative;
    width: 100%;
   
}

#close{
    position: absolute;
    width: 4%;
    max-width: 50px;
    display: none;
}

#figu1{
    position: absolute;
    width: 20%;
    max-width: 700px;
    left: 10%;
    top: 10%;
    transform: rotate(20deg);
}
#figu2{
    position: absolute;
    width: 20%;
    max-width: 700px;
    left: 40%;
    top: 10%;
    transform: rotate(-15deg);
}
#figu3{
    position: absolute;
    width: 20%;
    max-width: 400px;
    left: 68%;
    top: 10%;
    transform: rotate(30deg);
}
#figu4{
    position: absolute;
    width: 20%;
    max-width: 400px;
    left: 40%;
    top: 23%;
    transform: rotate(10deg);
}
.cap{
    display: none;
    position: absolute;
}



