/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.02.2021, 19:25:10
    Author     : mgrau
*/

#joycoast{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#close{
    position: absolute;
    width: 4%;
    max-width: 50px;
    display: none;
}

#paragliding{
    position: absolute;
    width: 30%;
    max-width: 700px;
    left: 5%;
    top: 5%;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}
#windsurfing{
    position: absolute;
    width: 30%;
    max-width: 700px;
    left: 60%;
    top: 10%;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}
#walk{
    position: absolute;
    width: 30%;
    max-width: 700px;
    left: 25%;
    top: 18%;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
}
#joy_fig1{
    position: absolute;
    width: 25%;
    max-width: 600px;
    left: 50%;
    top: 30%;
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
}
#joy_fig2{
    position: absolute;
    width: 25%;
    max-width: 600px;
    left: 3%;
    top: 35%;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}
#paragliding:focus, #windsurfing:focus, #walk:focus, #joy_fig1:focus, #joy_fig2:focus{
    border-style: solid;
    border-width: medium;
    border-color: #FFC175;
}

.cap{
    display: none;
    position: absolute;
    text-align: center;
    padding: 1% 0%;
    background-color: rgb(30, 144, 255);
}
#clickon{
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80%;
    left: 10%;
}